<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AchsKopplung1</key>
		<integer>90</integer>
		<key>AchsKopplung2</key>
		<integer>80</integer>
		<key>BitConfig_LOOP_UNTEN</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_LINKS</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_RECHTS</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_OBEN</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_BLINK</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED1</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED2</key>
		<integer>0</integer>
		<key>CouplingYawCorrection</key>
		<integer>1</integer>
		<key>Driftkomp</key>
		<integer>0</integer>
		<key>DynamicStability</key>
		<integer>100</integer>
		<key>ExternalControl</key>
		<integer>0</integer>
		<key>ExtraConfig_HEIGHT_LIMIT</key>
		<integer>0</integer>
		<key>ExtraConfig_SENSITIVE_RC</key>
		<integer>0</integer>
		<key>ExtraConfig_VARIO_BEEP</key>
		<integer>0</integer>
		<key>Gas_Max</key>
		<integer>230</integer>
		<key>Gas_Min</key>
		<integer>8</integer>
		<key>Gier_P</key>
		<integer>12</integer>
		<key>GlobalConfig_ACHSENKOPPLUNG_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_DREHRATEN_BEGRENZER</key>
		<integer>0</integer>
		<key>GlobalConfig_GPS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_HEADING_HOLD</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHENREGELUNG</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHEN_SCHALTER</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_FIX</key>
		<integer>0</integer>
		<key>GyroAccAbgleich</key>
		<integer>16</integer>
		<key>GyroAccFaktor</key>
		<integer>27</integer>
		<key>Gyro_D</key>
		<integer>5</integer>
		<key>Gyro_Gier_I</key>
		<integer>150</integer>
		<key>Gyro_Gier_P</key>
		<integer>80</integer>
		<key>Gyro_I</key>
		<integer>150</integer>
		<key>Gyro_P</key>
		<integer>80</integer>
		<key>Hoehe_ACC_Wirkung</key>
		<integer>30</integer>
		<key>Hoehe_GPS_Z</key>
		<integer>64</integer>
		<key>Hoehe_HoverBand</key>
		<integer>5</integer>
		<key>Hoehe_MinGas</key>
		<integer>30</integer>
		<key>Hoehe_P</key>
		<integer>10</integer>
		<key>Hoehe_StickNeutralPoint</key>
		<integer>0</integer>
		<key>Hoehe_Verstaerkung</key>
		<integer>20</integer>
		<key>I_Faktor</key>
		<integer>32</integer>
		<key>J16Bitmask</key>
		<integer>95</integer>
		<key>J16Timing</key>
		<integer>15</integer>
		<key>J17Bitmask</key>
		<integer>243</integer>
		<key>J17Timing</key>
		<integer>15</integer>
		<key>Kanalbelegung_00</key>
		<integer>3</integer>
		<key>Kanalbelegung_01</key>
		<integer>2</integer>
		<key>Kanalbelegung_02</key>
		<integer>1</integer>
		<key>Kanalbelegung_03</key>
		<integer>4</integer>
		<key>Kanalbelegung_04</key>
		<integer>5</integer>
		<key>Kanalbelegung_05</key>
		<integer>6</integer>
		<key>Kanalbelegung_06</key>
		<integer>7</integer>
		<key>Kanalbelegung_07</key>
		<integer>8</integer>
		<key>Kanalbelegung_08</key>
		<integer>9</integer>
		<key>Kanalbelegung_09</key>
		<integer>10</integer>
		<key>Kanalbelegung_10</key>
		<integer>11</integer>
		<key>Kanalbelegung_11</key>
		<integer>12</integer>
		<key>KompassWirkung</key>
		<integer>128</integer>
		<key>LoopGasLimit</key>
		<integer>50</integer>
		<key>LoopHysterese</key>
		<integer>50</integer>
		<key>LoopThreshold</key>
		<integer>90</integer>
		<key>Luftdruck_D</key>
		<integer>30</integer>
		<key>MaxHoehe</key>
		<integer>255</integer>
		<key>Name</key>
		<string>Sport</string>
		<key>NaviAngleLimitation</key>
		<integer>100</integer>
		<key>NaviGpsACC</key>
		<integer>0</integer>
		<key>NaviGpsD</key>
		<integer>90</integer>
		<key>NaviGpsDLimit</key>
		<integer>75</integer>
		<key>NaviGpsGain</key>
		<integer>100</integer>
		<key>NaviGpsI</key>
		<integer>90</integer>
		<key>NaviGpsILimit</key>
		<integer>75</integer>
		<key>NaviGpsMinSat</key>
		<integer>6</integer>
		<key>NaviGpsModeControl</key>
		<integer>254</integer>
		<key>NaviGpsP</key>
		<integer>90</integer>
		<key>NaviGpsPLimit</key>
		<integer>75</integer>
		<key>NaviOperatingRadius</key>
		<integer>100</integer>
		<key>NaviPH_LoginTime</key>
		<integer>4</integer>
		<key>NaviSpeedCompensation</key>
		<integer>30</integer>
		<key>NaviStickThreshold</key>
		<integer>8</integer>
		<key>NaviWindCorrection</key>
		<integer>90</integer>
		<key>NotGas</key>
		<integer>35</integer>
		<key>NotGasZeit</key>
		<integer>30</integer>
		<key>Receiver</key>
		<integer>1</integer>
		<key>Servo3</key>
		<integer>125</integer>
		<key>Servo4</key>
		<integer>125</integer>
		<key>Servo5</key>
		<integer>125</integer>
		<key>ServoCompInvert_NICK</key>
		<integer>0</integer>
		<key>ServoCompInvert_ROLL</key>
		<integer>0</integer>
		<key>ServoNickComp</key>
		<integer>40</integer>
		<key>ServoNickControl</key>
		<integer>100</integer>
		<key>ServoNickMax</key>
		<integer>247</integer>
		<key>ServoNickMin</key>
		<integer>0</integer>
		<key>ServoNickRefresh</key>
		<integer>6</integer>
		<key>ServoRollComp</key>
		<integer>40</integer>
		<key>ServoRollControl</key>
		<integer>100</integer>
		<key>ServoRollMax</key>
		<integer>247</integer>
		<key>ServoRollMin</key>
		<integer>0</integer>
		<key>Stick_D</key>
		<integer>16</integer>
		<key>Stick_P</key>
		<integer>14</integer>
		<key>UnterspannungsWarnung</key>
		<integer>33</integer>
		<key>UserParam1</key>
		<integer>0</integer>
		<key>UserParam2</key>
		<integer>0</integer>
		<key>UserParam3</key>
		<integer>0</integer>
		<key>UserParam4</key>
		<integer>0</integer>
		<key>UserParam5</key>
		<integer>0</integer>
		<key>UserParam6</key>
		<integer>0</integer>
		<key>UserParam7</key>
		<integer>0</integer>
		<key>UserParam8</key>
		<integer>0</integer>
		<key>WARN_J16_Bitmask</key>
		<integer>170</integer>
		<key>WARN_J17_Bitmask</key>
		<integer>170</integer>
		<key>WinkelUmschlagNick</key>
		<integer>78</integer>
		<key>WinkelUmschlagRoll</key>
		<integer>78</integer>
		<key>index</key>
		<integer>1</integer>
		<key>Revision</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>AchsKopplung1</key>
		<integer>90</integer>
		<key>AchsKopplung2</key>
		<integer>80</integer>
		<key>BitConfig_LOOP_DOWN</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_LEFT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_RIGHT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_UP</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_BLINK</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED1</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED2</key>
		<integer>0</integer>
		<key>CouplingYawCorrection</key>
		<integer>60</integer>
		<key>Driftkomp</key>
		<integer>0</integer>
		<key>DynamicStability</key>
		<integer>75</integer>
		<key>ExternalControl</key>
		<integer>0</integer>
		<key>ExtraConfig_HEIGHT_LIMIT</key>
		<integer>0</integer>
		<key>ExtraConfig_SENSITIVE_RC</key>
		<integer>0</integer>
		<key>ExtraConfig_VARIO_BEEP</key>
		<integer>0</integer>
		<key>Gas_Max</key>
		<integer>230</integer>
		<key>Gas_Min</key>
		<integer>8</integer>
		<key>Gier_P</key>
		<integer>6</integer>
		<key>GlobalConfig_ACHSENKOPPLUNG_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_DREHRATEN_BEGRENZER</key>
		<integer>0</integer>
		<key>GlobalConfig_GPS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_HEADING_HOLD</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHENREGELUNG</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHEN_SCHALTER</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_FIX</key>
		<integer>0</integer>
		<key>GyroAccAbgleich</key>
		<integer>32</integer>
		<key>GyroAccFaktor</key>
		<integer>27</integer>
		<key>Gyro_D</key>
		<integer>5</integer>
		<key>Gyro_Gier_I</key>
		<integer>120</integer>
		<key>Gyro_Gier_P</key>
		<integer>90</integer>
		<key>Gyro_I</key>
		<integer>120</integer>
		<key>Gyro_P</key>
		<integer>90</integer>
		<key>Hoehe_ACC_Wirkung</key>
		<integer>30</integer>
		<key>Hoehe_GPS_Z</key>
		<integer>64</integer>
		<key>Hoehe_HoverBand</key>
		<integer>5</integer>
		<key>Hoehe_MinGas</key>
		<integer>30</integer>
		<key>Hoehe_P</key>
		<integer>10</integer>
		<key>Hoehe_StickNeutralPoint</key>
		<integer>0</integer>
		<key>Hoehe_Verstaerkung</key>
		<integer>15</integer>
		<key>I_Faktor</key>
		<integer>32</integer>
		<key>J16Bitmask</key>
		<integer>95</integer>
		<key>J16Timing</key>
		<integer>20</integer>
		<key>J17Bitmask</key>
		<integer>243</integer>
		<key>J17Timing</key>
		<integer>20</integer>
		<key>Kanalbelegung_00</key>
		<integer>3</integer>
		<key>Kanalbelegung_01</key>
		<integer>2</integer>
		<key>Kanalbelegung_02</key>
		<integer>1</integer>
		<key>Kanalbelegung_03</key>
		<integer>4</integer>
		<key>Kanalbelegung_04</key>
		<integer>5</integer>
		<key>Kanalbelegung_05</key>
		<integer>6</integer>
		<key>Kanalbelegung_06</key>
		<integer>7</integer>
		<key>Kanalbelegung_07</key>
		<integer>8</integer>
		<key>Kanalbelegung_08</key>
		<integer>9</integer>
		<key>Kanalbelegung_09</key>
		<integer>10</integer>
		<key>Kanalbelegung_10</key>
		<integer>11</integer>
		<key>Kanalbelegung_11</key>
		<integer>12</integer>
		<key>KompassWirkung</key>
		<integer>128</integer>
		<key>LoopGasLimit</key>
		<integer>50</integer>
		<key>LoopHysterese</key>
		<integer>50</integer>
		<key>LoopThreshold</key>
		<integer>90</integer>
		<key>Luftdruck_D</key>
		<integer>30</integer>
		<key>MaxHoehe</key>
		<integer>255</integer>
		<key>Name</key>
		<string>Normal</string>
		<key>NaviAngleLimitation</key>
		<integer>100</integer>
		<key>NaviGpsACC</key>
		<integer>0</integer>
		<key>NaviGpsD</key>
		<integer>90</integer>
		<key>NaviGpsDLimit</key>
		<integer>75</integer>
		<key>NaviGpsGain</key>
		<integer>100</integer>
		<key>NaviGpsI</key>
		<integer>90</integer>
		<key>NaviGpsILimit</key>
		<integer>75</integer>
		<key>NaviGpsMinSat</key>
		<integer>6</integer>
		<key>NaviGpsModeControl</key>
		<integer>254</integer>
		<key>NaviGpsP</key>
		<integer>90</integer>
		<key>NaviGpsPLimit</key>
		<integer>75</integer>
		<key>NaviOperatingRadius</key>
		<integer>100</integer>
		<key>NaviPH_LoginTime</key>
		<integer>4</integer>
		<key>NaviSpeedCompensation</key>
		<integer>30</integer>
		<key>NaviStickThreshold</key>
		<integer>8</integer>
		<key>NaviWindCorrection</key>
		<integer>90</integer>
		<key>NotGas</key>
		<integer>35</integer>
		<key>NotGasZeit</key>
		<integer>30</integer>
		<key>Receiver</key>
		<integer>1</integer>
		<key>Servo3</key>
		<integer>125</integer>
		<key>Servo4</key>
		<integer>125</integer>
		<key>Servo5</key>
		<integer>125</integer>
		<key>ServoCompInvert_NICK</key>
		<integer>0</integer>
		<key>ServoCompInvert_ROLL</key>
		<integer>0</integer>
		<key>ServoNickComp</key>
		<integer>40</integer>
		<key>ServoNickControl</key>
		<integer>100</integer>
		<key>ServoNickMax</key>
		<integer>247</integer>
		<key>ServoNickMin</key>
		<integer>0</integer>
		<key>ServoNickRefresh</key>
		<integer>6</integer>
		<key>ServoRollComp</key>
		<integer>40</integer>
		<key>ServoRollControl</key>
		<integer>100</integer>
		<key>ServoRollMax</key>
		<integer>247</integer>
		<key>ServoRollMin</key>
		<integer>0</integer>
		<key>Stick_D</key>
		<integer>16</integer>
		<key>Stick_P</key>
		<integer>10</integer>
		<key>UnterspannungsWarnung</key>
		<integer>33</integer>
		<key>UserParam1</key>
		<integer>0</integer>
		<key>UserParam2</key>
		<integer>0</integer>
		<key>UserParam3</key>
		<integer>0</integer>
		<key>UserParam4</key>
		<integer>0</integer>
		<key>UserParam5</key>
		<integer>0</integer>
		<key>UserParam6</key>
		<integer>0</integer>
		<key>UserParam7</key>
		<integer>0</integer>
		<key>UserParam8</key>
		<integer>0</integer>
		<key>WARN_J16_Bitmask</key>
		<integer>170</integer>
		<key>WARN_J17_Bitmask</key>
		<integer>170</integer>
		<key>WinkelUmschlagNick</key>
		<integer>78</integer>
		<key>WinkelUmschlagRoll</key>
		<integer>78</integer>
		<key>index</key>
		<integer>2</integer>
		<key>Revision</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>AchsKopplung1</key>
		<integer>90</integer>
		<key>AchsKopplung2</key>
		<integer>80</integer>
		<key>BitConfig_LOOP_UNTEN</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_LINKS</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_RECHTS</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_OBEN</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_BLINK</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED1</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED2</key>
		<integer>0</integer>
		<key>CouplingYawCorrection</key>
		<integer>70</integer>
		<key>Driftkomp</key>
		<integer>0</integer>
		<key>DynamicStability</key>
		<integer>50</integer>
		<key>ExternalControl</key>
		<integer>0</integer>
		<key>ExtraConfig_HEIGHT_LIMIT</key>
		<integer>0</integer>
		<key>ExtraConfig_SENSITIVE_RC</key>
		<integer>0</integer>
		<key>ExtraConfig_VARIO_BEEP</key>
		<integer>0</integer>
		<key>Gas_Max</key>
		<integer>230</integer>
		<key>Gas_Min</key>
		<integer>8</integer>
		<key>Gier_P</key>
		<integer>6</integer>
		<key>GlobalConfig_ACHSENKOPPLUNG_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_DREHRATEN_BEGRENZER</key>
		<integer>0</integer>
		<key>GlobalConfig_GPS_AKTIV</key>
		<integer>0</integer>
		<key>GlobalConfig_HEADING_HOLD</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHENREGELUNG</key>
		<integer>1</integer>
		<key>GlobalConfig_HOEHEN_SCHALTER</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_AKTIV</key>
		<integer>0</integer>
		<key>GlobalConfig_KOMPASS_FIX</key>
		<integer>0</integer>
		<key>GyroAccAbgleich</key>
		<integer>32</integer>
		<key>GyroAccFaktor</key>
		<integer>27</integer>
		<key>Gyro_D</key>
		<integer>5</integer>
		<key>Gyro_Gier_I</key>
		<integer>120</integer>
		<key>Gyro_Gier_P</key>
		<integer>100</integer>
		<key>Gyro_I</key>
		<integer>120</integer>
		<key>Gyro_P</key>
		<integer>100</integer>
		<key>Hoehe_ACC_Wirkung</key>
		<integer>30</integer>
		<key>Hoehe_GPS_Z</key>
		<integer>64</integer>
		<key>Hoehe_HoverBand</key>
		<integer>5</integer>
		<key>Hoehe_MinGas</key>
		<integer>30</integer>
		<key>Hoehe_P</key>
		<integer>10</integer>
		<key>Hoehe_StickNeutralPoint</key>
		<integer>0</integer>
		<key>Hoehe_Verstaerkung</key>
		<integer>15</integer>
		<key>I_Faktor</key>
		<integer>16</integer>
		<key>J16Bitmask</key>
		<integer>95</integer>
		<key>J16Timing</key>
		<integer>30</integer>
		<key>J17Bitmask</key>
		<integer>243</integer>
		<key>J17Timing</key>
		<integer>30</integer>
		<key>Kanalbelegung_00</key>
		<integer>3</integer>
		<key>Kanalbelegung_01</key>
		<integer>2</integer>
		<key>Kanalbelegung_02</key>
		<integer>1</integer>
		<key>Kanalbelegung_03</key>
		<integer>4</integer>
		<key>Kanalbelegung_04</key>
		<integer>5</integer>
		<key>Kanalbelegung_05</key>
		<integer>6</integer>
		<key>Kanalbelegung_06</key>
		<integer>7</integer>
		<key>Kanalbelegung_07</key>
		<integer>8</integer>
		<key>Kanalbelegung_08</key>
		<integer>9</integer>
		<key>Kanalbelegung_09</key>
		<integer>10</integer>
		<key>Kanalbelegung_10</key>
		<integer>11</integer>
		<key>Kanalbelegung_11</key>
		<integer>12</integer>
		<key>KompassWirkung</key>
		<integer>128</integer>
		<key>LoopGasLimit</key>
		<integer>50</integer>
		<key>LoopHysterese</key>
		<integer>50</integer>
		<key>LoopThreshold</key>
		<integer>90</integer>
		<key>Luftdruck_D</key>
		<integer>30</integer>
		<key>MaxHoehe</key>
		<integer>255</integer>
		<key>Name</key>
		<string>Beginner</string>
		<key>NaviAngleLimitation</key>
		<integer>100</integer>
		<key>NaviGpsACC</key>
		<integer>0</integer>
		<key>NaviGpsD</key>
		<integer>90</integer>
		<key>NaviGpsDLimit</key>
		<integer>75</integer>
		<key>NaviGpsGain</key>
		<integer>100</integer>
		<key>NaviGpsI</key>
		<integer>90</integer>
		<key>NaviGpsILimit</key>
		<integer>75</integer>
		<key>NaviGpsMinSat</key>
		<integer>6</integer>
		<key>NaviGpsModeControl</key>
		<integer>254</integer>
		<key>NaviGpsP</key>
		<integer>90</integer>
		<key>NaviGpsPLimit</key>
		<integer>75</integer>
		<key>NaviOperatingRadius</key>
		<integer>100</integer>
		<key>NaviPH_LoginTime</key>
		<integer>4</integer>
		<key>NaviSpeedCompensation</key>
		<integer>30</integer>
		<key>NaviStickThreshold</key>
		<integer>8</integer>
		<key>NaviWindCorrection</key>
		<integer>90</integer>
		<key>NotGas</key>
		<integer>35</integer>
		<key>NotGasZeit</key>
		<integer>20</integer>
		<key>Receiver</key>
		<integer>1</integer>
		<key>Servo3</key>
		<integer>125</integer>
		<key>Servo4</key>
		<integer>125</integer>
		<key>Servo5</key>
		<integer>125</integer>
		<key>ServoCompInvert_NICK</key>
		<integer>0</integer>
		<key>ServoCompInvert_ROLL</key>
		<integer>0</integer>
		<key>ServoNickComp</key>
		<integer>40</integer>
		<key>ServoNickControl</key>
		<integer>100</integer>
		<key>ServoNickMax</key>
		<integer>247</integer>
		<key>ServoNickMin</key>
		<integer>0</integer>
		<key>ServoNickRefresh</key>
		<integer>6</integer>
		<key>ServoRollComp</key>
		<integer>40</integer>
		<key>ServoRollControl</key>
		<integer>100</integer>
		<key>ServoRollMax</key>
		<integer>247</integer>
		<key>ServoRollMin</key>
		<integer>0</integer>
		<key>Stick_D</key>
		<integer>16</integer>
		<key>Stick_P</key>
		<integer>8</integer>
		<key>UnterspannungsWarnung</key>
		<integer>33</integer>
		<key>UserParam1</key>
		<integer>0</integer>
		<key>UserParam2</key>
		<integer>0</integer>
		<key>UserParam3</key>
		<integer>0</integer>
		<key>UserParam4</key>
		<integer>0</integer>
		<key>UserParam5</key>
		<integer>0</integer>
		<key>UserParam6</key>
		<integer>0</integer>
		<key>UserParam7</key>
		<integer>0</integer>
		<key>UserParam8</key>
		<integer>0</integer>
		<key>WARN_J16_Bitmask</key>
		<integer>170</integer>
		<key>WARN_J17_Bitmask</key>
		<integer>170</integer>
		<key>WinkelUmschlagNick</key>
		<integer>78</integer>
		<key>WinkelUmschlagRoll</key>
		<integer>78</integer>
		<key>index</key>
		<integer>3</integer>
		<key>Revision</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>AchsKopplung1</key>
		<integer>90</integer>
		<key>AchsKopplung2</key>
		<integer>80</integer>
		<key>BitConfig_LOOP_DOWN</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_LEFT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_RIGHT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_UP</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_BLINK</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED1</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED2</key>
		<integer>0</integer>
		<key>CouplingYawCorrection</key>
		<integer>60</integer>
		<key>Driftkomp</key>
		<integer>0</integer>
		<key>DynamicStability</key>
		<integer>75</integer>
		<key>ExternalControl</key>
		<integer>0</integer>
		<key>ExtraConfig_HEIGHT_LIMIT</key>
		<integer>0</integer>
		<key>ExtraConfig_SENSITIVE_RC</key>
		<integer>0</integer>
		<key>ExtraConfig_VARIO_BEEP</key>
		<integer>0</integer>
		<key>Gas_Max</key>
		<integer>230</integer>
		<key>Gas_Min</key>
		<integer>8</integer>
		<key>Gier_P</key>
		<integer>6</integer>
		<key>GlobalConfig_ACHSENKOPPLUNG_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_DREHRATEN_BEGRENZER</key>
		<integer>0</integer>
		<key>GlobalConfig_GPS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_HEADING_HOLD</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHENREGELUNG</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHEN_SCHALTER</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_FIX</key>
		<integer>0</integer>
		<key>GyroAccAbgleich</key>
		<integer>32</integer>
		<key>GyroAccFaktor</key>
		<integer>27</integer>
		<key>Gyro_D</key>
		<integer>5</integer>
		<key>Gyro_Gier_I</key>
		<integer>120</integer>
		<key>Gyro_Gier_P</key>
		<integer>90</integer>
		<key>Gyro_I</key>
		<integer>120</integer>
		<key>Gyro_P</key>
		<integer>90</integer>
		<key>Hoehe_ACC_Wirkung</key>
		<integer>30</integer>
		<key>Hoehe_GPS_Z</key>
		<integer>64</integer>
		<key>Hoehe_HoverBand</key>
		<integer>5</integer>
		<key>Hoehe_MinGas</key>
		<integer>30</integer>
		<key>Hoehe_P</key>
		<integer>10</integer>
		<key>Hoehe_StickNeutralPoint</key>
		<integer>0</integer>
		<key>Hoehe_Verstaerkung</key>
		<integer>15</integer>
		<key>I_Faktor</key>
		<integer>32</integer>
		<key>J16Bitmask</key>
		<integer>95</integer>
		<key>J16Timing</key>
		<integer>20</integer>
		<key>J17Bitmask</key>
		<integer>243</integer>
		<key>J17Timing</key>
		<integer>20</integer>
		<key>Kanalbelegung_00</key>
		<integer>3</integer>
		<key>Kanalbelegung_01</key>
		<integer>2</integer>
		<key>Kanalbelegung_02</key>
		<integer>1</integer>
		<key>Kanalbelegung_03</key>
		<integer>4</integer>
		<key>Kanalbelegung_04</key>
		<integer>5</integer>
		<key>Kanalbelegung_05</key>
		<integer>6</integer>
		<key>Kanalbelegung_06</key>
		<integer>7</integer>
		<key>Kanalbelegung_07</key>
		<integer>8</integer>
		<key>Kanalbelegung_08</key>
		<integer>9</integer>
		<key>Kanalbelegung_09</key>
		<integer>10</integer>
		<key>Kanalbelegung_10</key>
		<integer>11</integer>
		<key>Kanalbelegung_11</key>
		<integer>12</integer>
		<key>KompassWirkung</key>
		<integer>128</integer>
		<key>LoopGasLimit</key>
		<integer>50</integer>
		<key>LoopHysterese</key>
		<integer>50</integer>
		<key>LoopThreshold</key>
		<integer>90</integer>
		<key>Luftdruck_D</key>
		<integer>30</integer>
		<key>MaxHoehe</key>
		<integer>255</integer>
		<key>Name</key>
		<string>Normal</string>
		<key>NaviAngleLimitation</key>
		<integer>100</integer>
		<key>NaviGpsACC</key>
		<integer>0</integer>
		<key>NaviGpsD</key>
		<integer>90</integer>
		<key>NaviGpsDLimit</key>
		<integer>75</integer>
		<key>NaviGpsGain</key>
		<integer>100</integer>
		<key>NaviGpsI</key>
		<integer>90</integer>
		<key>NaviGpsILimit</key>
		<integer>75</integer>
		<key>NaviGpsMinSat</key>
		<integer>6</integer>
		<key>NaviGpsModeControl</key>
		<integer>254</integer>
		<key>NaviGpsP</key>
		<integer>90</integer>
		<key>NaviGpsPLimit</key>
		<integer>75</integer>
		<key>NaviOperatingRadius</key>
		<integer>100</integer>
		<key>NaviPH_LoginTime</key>
		<integer>4</integer>
		<key>NaviSpeedCompensation</key>
		<integer>30</integer>
		<key>NaviStickThreshold</key>
		<integer>8</integer>
		<key>NaviWindCorrection</key>
		<integer>90</integer>
		<key>NotGas</key>
		<integer>35</integer>
		<key>NotGasZeit</key>
		<integer>30</integer>
		<key>Receiver</key>
		<integer>1</integer>
		<key>Servo3</key>
		<integer>125</integer>
		<key>Servo4</key>
		<integer>125</integer>
		<key>Servo5</key>
		<integer>125</integer>
		<key>ServoCompInvert_NICK</key>
		<integer>0</integer>
		<key>ServoCompInvert_ROLL</key>
		<integer>0</integer>
		<key>ServoNickComp</key>
		<integer>40</integer>
		<key>ServoNickControl</key>
		<integer>100</integer>
		<key>ServoNickMax</key>
		<integer>247</integer>
		<key>ServoNickMin</key>
		<integer>0</integer>
		<key>ServoNickRefresh</key>
		<integer>6</integer>
		<key>ServoRollComp</key>
		<integer>40</integer>
		<key>ServoRollControl</key>
		<integer>100</integer>
		<key>ServoRollMax</key>
		<integer>247</integer>
		<key>ServoRollMin</key>
		<integer>0</integer>
		<key>Stick_D</key>
		<integer>16</integer>
		<key>Stick_P</key>
		<integer>10</integer>
		<key>UnterspannungsWarnung</key>
		<integer>33</integer>
		<key>UserParam1</key>
		<integer>0</integer>
		<key>UserParam2</key>
		<integer>0</integer>
		<key>UserParam3</key>
		<integer>0</integer>
		<key>UserParam4</key>
		<integer>0</integer>
		<key>UserParam5</key>
		<integer>0</integer>
		<key>UserParam6</key>
		<integer>0</integer>
		<key>UserParam7</key>
		<integer>0</integer>
		<key>UserParam8</key>
		<integer>0</integer>
		<key>WARN_J16_Bitmask</key>
		<integer>170</integer>
		<key>WARN_J17_Bitmask</key>
		<integer>170</integer>
		<key>WinkelUmschlagNick</key>
		<integer>78</integer>
		<key>WinkelUmschlagRoll</key>
		<integer>78</integer>
		<key>index</key>
		<integer>4</integer>
		<key>Revision</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>AchsKopplung1</key>
		<integer>90</integer>
		<key>AchsKopplung2</key>
		<integer>80</integer>
		<key>BitConfig_LOOP_DOWN</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_LEFT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_RIGHT</key>
		<integer>0</integer>
		<key>BitConfig_LOOP_UP</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_BLINK</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED1</key>
		<integer>0</integer>
		<key>BitConfig_MOTOR_OFF_LED2</key>
		<integer>0</integer>
		<key>CouplingYawCorrection</key>
		<integer>60</integer>
		<key>Driftkomp</key>
		<integer>0</integer>
		<key>DynamicStability</key>
		<integer>75</integer>
		<key>ExternalControl</key>
		<integer>0</integer>
		<key>ExtraConfig_HEIGHT_LIMIT</key>
		<integer>0</integer>
		<key>ExtraConfig_SENSITIVE_RC</key>
		<integer>0</integer>
		<key>ExtraConfig_VARIO_BEEP</key>
		<integer>0</integer>
		<key>Gas_Max</key>
		<integer>230</integer>
		<key>Gas_Min</key>
		<integer>8</integer>
		<key>Gier_P</key>
		<integer>6</integer>
		<key>GlobalConfig_ACHSENKOPPLUNG_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_DREHRATEN_BEGRENZER</key>
		<integer>0</integer>
		<key>GlobalConfig_GPS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_HEADING_HOLD</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHENREGELUNG</key>
		<integer>0</integer>
		<key>GlobalConfig_HOEHEN_SCHALTER</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_AKTIV</key>
		<integer>1</integer>
		<key>GlobalConfig_KOMPASS_FIX</key>
		<integer>0</integer>
		<key>GyroAccAbgleich</key>
		<integer>32</integer>
		<key>GyroAccFaktor</key>
		<integer>27</integer>
		<key>Gyro_D</key>
		<integer>5</integer>
		<key>Gyro_Gier_I</key>
		<integer>120</integer>
		<key>Gyro_Gier_P</key>
		<integer>90</integer>
		<key>Gyro_I</key>
		<integer>120</integer>
		<key>Gyro_P</key>
		<integer>90</integer>
		<key>Hoehe_ACC_Wirkung</key>
		<integer>30</integer>
		<key>Hoehe_GPS_Z</key>
		<integer>64</integer>
		<key>Hoehe_HoverBand</key>
		<integer>5</integer>
		<key>Hoehe_MinGas</key>
		<integer>30</integer>
		<key>Hoehe_P</key>
		<integer>10</integer>
		<key>Hoehe_StickNeutralPoint</key>
		<integer>0</integer>
		<key>Hoehe_Verstaerkung</key>
		<integer>15</integer>
		<key>I_Faktor</key>
		<integer>32</integer>
		<key>J16Bitmask</key>
		<integer>95</integer>
		<key>J16Timing</key>
		<integer>20</integer>
		<key>J17Bitmask</key>
		<integer>243</integer>
		<key>J17Timing</key>
		<integer>20</integer>
		<key>Kanalbelegung_00</key>
		<integer>3</integer>
		<key>Kanalbelegung_01</key>
		<integer>2</integer>
		<key>Kanalbelegung_02</key>
		<integer>1</integer>
		<key>Kanalbelegung_03</key>
		<integer>4</integer>
		<key>Kanalbelegung_04</key>
		<integer>5</integer>
		<key>Kanalbelegung_05</key>
		<integer>6</integer>
		<key>Kanalbelegung_06</key>
		<integer>7</integer>
		<key>Kanalbelegung_07</key>
		<integer>8</integer>
		<key>Kanalbelegung_08</key>
		<integer>9</integer>
		<key>Kanalbelegung_09</key>
		<integer>10</integer>
		<key>Kanalbelegung_10</key>
		<integer>11</integer>
		<key>Kanalbelegung_11</key>
		<integer>12</integer>
		<key>KompassWirkung</key>
		<integer>254</integer>
		<key>LoopGasLimit</key>
		<integer>50</integer>
		<key>LoopHysterese</key>
		<integer>50</integer>
		<key>LoopThreshold</key>
		<integer>90</integer>
		<key>Luftdruck_D</key>
		<integer>30</integer>
		<key>MaxHoehe</key>
		<integer>255</integer>
		<key>Name</key>
		<string>Normal</string>
		<key>NaviAngleLimitation</key>
		<integer>100</integer>
		<key>NaviGpsACC</key>
		<integer>0</integer>
		<key>NaviGpsD</key>
		<integer>90</integer>
		<key>NaviGpsDLimit</key>
		<integer>75</integer>
		<key>NaviGpsGain</key>
		<integer>100</integer>
		<key>NaviGpsI</key>
		<integer>90</integer>
		<key>NaviGpsILimit</key>
		<integer>75</integer>
		<key>NaviGpsMinSat</key>
		<integer>6</integer>
		<key>NaviGpsModeControl</key>
		<integer>254</integer>
		<key>NaviGpsP</key>
		<integer>90</integer>
		<key>NaviGpsPLimit</key>
		<integer>75</integer>
		<key>NaviOperatingRadius</key>
		<integer>100</integer>
		<key>NaviPH_LoginTime</key>
		<integer>4</integer>
		<key>NaviSpeedCompensation</key>
		<integer>30</integer>
		<key>NaviStickThreshold</key>
		<integer>8</integer>
		<key>NaviWindCorrection</key>
		<integer>90</integer>
		<key>NotGas</key>
		<integer>35</integer>
		<key>NotGasZeit</key>
		<integer>30</integer>
		<key>Receiver</key>
		<integer>1</integer>
		<key>Servo3</key>
		<integer>125</integer>
		<key>Servo4</key>
		<integer>125</integer>
		<key>Servo5</key>
		<integer>125</integer>
		<key>Revision</key>
		<integer>0</integer>
		<key>ServoCompInvert_ROLL</key>
		<integer>0</integer>
		<key>ServoNickComp</key>
		<integer>40</integer>
		<key>ServoNickControl</key>
		<integer>100</integer>
		<key>ServoNickMax</key>
		<integer>247</integer>
		<key>ServoNickMin</key>
		<integer>0</integer>
		<key>ServoNickRefresh</key>
		<integer>6</integer>
		<key>ServoRollComp</key>
		<integer>40</integer>
		<key>ServoRollControl</key>
		<integer>100</integer>
		<key>ServoRollMax</key>
		<integer>247</integer>
		<key>ServoRollMin</key>
		<integer>0</integer>
		<key>Stick_D</key>
		<integer>16</integer>
		<key>Stick_P</key>
		<integer>10</integer>
		<key>UnterspannungsWarnung</key>
		<integer>33</integer>
		<key>UserParam1</key>
		<integer>0</integer>
		<key>UserParam2</key>
		<integer>0</integer>
		<key>UserParam3</key>
		<integer>0</integer>
		<key>UserParam4</key>
		<integer>0</integer>
		<key>UserParam5</key>
		<integer>0</integer>
		<key>UserParam6</key>
		<integer>0</integer>
		<key>UserParam7</key>
		<integer>0</integer>
		<key>UserParam8</key>
		<integer>0</integer>
		<key>WARN_J16_Bitmask</key>
		<integer>170</integer>
		<key>WARN_J17_Bitmask</key>
		<integer>170</integer>
		<key>WinkelUmschlagNick</key>
		<integer>78</integer>
		<key>WinkelUmschlagRoll</key>
		<integer>78</integer>
		<key>index</key>
		<integer>5</integer>
		<key>Revision</key>
		<integer>82</integer>
	</dict>
</array>
</plist>
