Package: de.frankblumenberg.ikopter
Name: iKopter
Version: 0.4.3.15
Architecture: iphoneos-arm
Description: A control App for the Mikrokopter.
Homepage: http://www.mikrokopter.de/ucwiki/iKopter
Maintainer: Frank <ikopter@frankblumenberg.de>
Section: Utility
Depends: ch.ringwald.btstack (>= 0.3-1170)
