<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Altitude</string>
	<key>StringsTable</key>
	<string>Altitude</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable altitude control</string>
			<key>Key</key>
			<string>GlobalConfig_HOEHENREGELUNG</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mode</string>
			<key>Key</key>
			<string>ExtraConfig_HEIGHT_LIMIT</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Height limitation control</string>
				<string>Vario altitude control</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Switch for setpoint</string>
			<key>Key</key>
			<string>GlobalConfig_HOEHEN_SCHALTER</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Acoustic vario</string>
			<key>Key</key>
			<string>ExtraConfig_VARIO_BEEP</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Setpoint</string>
			<key>Key</key>
			<string>MaxHoehe</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gain/Rate</string>
			<key>Key</key>
      <string>Hoehe_Verstaerkung</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Min. Gas</string>
			<key>Key</key>
      <string>Hoehe_MinGas</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hover variation</string>
			<key>Key</key>
      <string>Hoehe_HoverBand</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Altitude-P</string>
			<key>Key</key>
			<string>Hoehe_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-Z</string>
			<key>Key</key>
			<string>Hoehe_GPS_Z</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Barometric-D</string>
			<key>Key</key>
			<string>Luftdruck_D</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
    <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Z-ACC</string>
			<key>Key</key>
			<string>Hoehe_ACC_Wirkung</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stick neutral point</string>
			<key>Key</key>
      <string>Hoehe_StickNeutralPoint</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
