<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Camera</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Nick</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Servo control</string>
			<key>Key</key>
			<string>ServoNickControl</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Compensation</string>
			<key>Key</key>
      <string>ServoNickComp</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Invert direction</string>
			<key>Key</key>
			<string>ServoCompInvert_Nick</string>
			<key>DefaultValue</key>
			<true/>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Min</string>
			<key>Key</key>
      <string>ServoNickMin</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Max</string>
			<key>Key</key>
      <string>ServoNickMax</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Roll</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Servo control</string>
			<key>Key</key>
			<string>ServoRollControl</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Compensation</string>
			<key>Key</key>
      <string>ServoRollComp</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Invert direction</string>
			<key>Key</key>
			<string>ServoCompInvert_ROLL</string>
			<key>DefaultValue</key>
			<true/>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Min</string>
			<key>Key</key>
      <string>ServoRollMin</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Max</string>
			<key>Key</key>
      <string>ServoRollMax</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Servo refresh rate</string>
			<key>Key</key>
      <string>ServoNickRefresh</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
