<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Altitude</string>
	<key>StringsTable</key>
	<string>Altitude</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Axis coupling</string>
			<key>Key</key>
			<string>GlobalConfig_ACHSENKOPPLUNG_AKTIV</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Yaw pos. feedback</string>
			<key>Key</key>
			<string>AchsKopplung1</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Nick/Roll feedback</string>
			<key>Key</key>
			<string>AchsKopplung2</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Yaw correction</string>
			<key>Key</key>
			<string>MaxHoehe</string>
			<key>CouplingYawCorrection</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
	</array>
</dict>
</plist>
