<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Altitude</string>
	<key>StringsTable</key>
	<string>Altitude</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Gyro</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Gyro-P</string>
			<key>Key</key>
			<string>Gyro_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>    
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Gyro-I</string>
			<key>Key</key>
			<string>Gyro_I</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>     		
    <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Gyro-D</string>
			<key>Key</key>
			<string>Gyro_D</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Yaw</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Yaw-P</string>
			<key>Key</key>
			<string>Gyro_Gier_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>    
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Yaw-I</string>
			<key>Key</key>
			<string>Gyro_Gier_I</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Dynamic stability</string>
			<key>Key</key>
			<string>DynamicStability</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict> 
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Driftcomp.</string>
			<key>Key</key>
      <string>Driftkomp</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
    <dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ACC/Gyro-Factor</string>
			<key>Key</key>
      <string>GyroAccFaktor</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ACC/Gyro-Comp</string>
			<key>Key</key>
      <string>GyroAccAbgleich</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
 		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Main I</string>
			<key>Key</key>
			<string>I_Faktor</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict> 
	</array>
</dict>
</plist>
