<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Looping</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Gas Limit</string>
			<key>Key</key>
			<string>LoopGasLimit</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Response Threshold</string>
			<key>Key</key>
			<string>LoopThreshold</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hysteresis</string>
			<key>Key</key>
			<string>LoopHysterese</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Turn over Nick</string>
			<key>Key</key>
			<string>WinkelUmschlagNick</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Turn over Roll</string>
			<key>Key</key>
			<string>WinkelUmschlagRoll</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Loop while stick is</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Up</string>
			<key>Key</key>
			<string>BitConfig_LOOP_UP</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Down</string>
			<key>Key</key>
			<string>BitConfig_LOOP_DOWN</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Left</string>
			<key>Key</key>
			<string>BitConfig_LOOP_LEFT</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Right</string>
			<key>Key</key>
			<string>BitConfig_LOOP_RIGHT</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
