<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>NaviControl</string>
	<key>StringsTable</key>
	<string>Gps</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable GPS</string>
			<key>Key</key>
			<string>GlobalConfig_GPS_AKTIV</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-Mode Control</string>
			<key>Key</key>
			<string>NaviGpsModeControl</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-Gain</string>
			<key>Key</key>
			<string>NaviGpsGain</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GPS-Stick Threshold</string>
			<key>Key</key>
			<string>NaviStickThreshold</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Min. Sat</string>
			<key>Key</key>
			<string>NaviGpsMinSat</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-P</string>
			<key>Key</key>
			<string>NaviGpsP</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GPS-P Limit</string>
			<key>Key</key>
			<string>NaviGpsPLimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-I</string>
			<key>Key</key>
			<string>NaviGpsI</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GPS-I Limit</string>
			<key>Key</key>
			<string>NaviGpsILimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-D</string>
			<key>Key</key>
			<string>NaviGpsD</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GPS-D Limit</string>
			<key>Key</key>
			<string>NaviGpsDLimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-Acc.</string>
			<key>Key</key>
			<string>NaviGpsACC</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS-Wind Correction</string>
			<key>Key</key>
			<string>NaviWindCorrection</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Speed Compensation</string>
			<key>Key</key>
			<string>NaviSpeedCompensation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS Max. Radius</string>
			<key>Key</key>
			<string>NaviOperatingRadius</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GPS Angle Limit</string>
			<key>Key</key>
			<string>NaviAngleLimitation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>InAppCellClass</key>
			<string>InAppSettingsPotiValueSpecifierCell</string>
			<key>InAppChildPaneClass</key>
			<string>InAppSettingsPotiValueController</string>
			<key>File</key>
			<string>Dummy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>PH Login Time</string>
			<key>Key</key>
			<string>NaviPH_LoginTime</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>InAppNumtype</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
