<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>FollowMeHeight</string>
			<key>Title</key>
			<string>SettingsFollowMeHeight</string>
			<key>Titles</key>
			<array>
				<string>SettingsFollowMeHeight1</string>
				<string>SettingsFollowMeHeight2</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>FollowMeCameraNick</string>
			<key>Title</key>
			<string>SettingsFollowMeCameraNickControl</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>	
 		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>FollowMeAccuracyBestForNavigation</string>
			<key>Title</key>
			<string>SettingsFollowMeAccuracyBestForNavigation</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>	
  </array>
	<key>StringsTable</key>
	<string>followme</string>
	<key>Title</key>
	<string>Follow Me</string>
</dict>
</plist>
