<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>bugdata</string>
			<key>Title</key>
			<string>SettingsCrashTitle</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>logging</string>
			<key>Title</key>
			<string>SettingsLoggingTitle</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>IKNCLoggingActive</string>
			<key>Title</key>
			<string>SettingsActivateNCLogging</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>500</integer>
			<key>Key</key>
			<string>IKNCLoggingInterval</string>
			<key>Title</key>
			<string>SettingsNCLoggingInterval</string>
			<key>Titles</key>
			<array>
				<string>200 ms</string>
				<string>500 ms</string>
				<string>1000 ms</string>
				<string>2000 ms</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>200</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>2000</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>IKSyncActive</string>
			<key>Title</key>
			<string>SettingsActivateSync</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>dropboxActionCell</string>
			<key>Title</key>
			<string>Custom Field</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>customCell</string>
			<key>Title</key>
			<string>Custom Field</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>iKopter</string>
</dict>
</plist>
