<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SettingWaypointsGrouptTitle</string>
			<key>FooterText</key>
			<string>SettingWaypointsDescription</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointLat</string>
			<key>Key</key>
			<string>WpDefaultCoordLat</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointLong</string>
			<key>Key</key>
			<string>WpDefaultCoordLong</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointAltitude</string>
			<key>Key</key>
			<string>WpDefaultAltitude</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointHoldTime</string>
			<key>Key</key>
			<string>WpDefaultHoldTime</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointToleranceRadius</string>
			<key>Key</key>
			<string>WpDefaultToleranceRadius</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointAltitudeRate</string>
			<key>Key</key>
			<string>WpDefaultAltitudeRate</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointSpeed</string>
			<key>Key</key>
			<string>WpDefaultSpeed</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsCamOrientation</string>
			<key>Key</key>
			<string>WpDefaultCamOrientation</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SettingsWaypointPrefix</string>
			<key>Key</key>
			<string>WpDefaultPrefix</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>DefaultValue</key>
			<string>P</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>waypoints</string>
	<key>Title</key>
	<string>SettingsTitleWaypoints</string>
</dict>
</plist>
