<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Title</key>
    <string>LoopingTITLE</string>
	<key>StringsTable</key>
    <string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>LoopGasLimit</string>
			<key>Key</key>
			<string>LoopGasLimit</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LoopThreshold</string>
			<key>Key</key>
			<string>LoopThreshold</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LoopHysterese</string>
			<key>Key</key>
			<string>LoopHysterese</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>WinkelUmschlagNick</string>
			<key>Key</key>
			<string>WinkelUmschlagNick</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>WinkelUmschlagRoll</string>
			<key>Key</key>
			<string>WinkelUmschlagRoll</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LoopStickTITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BitConfig_LOOP_UP</string>
			<key>Key</key>
			<string>BitConfig_LOOP_UP</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BitConfig_LOOP_DOWN</string>
			<key>Key</key>
			<string>BitConfig_LOOP_DOWN</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BitConfig_LOOP_LEFT</string>
			<key>Key</key>
			<string>BitConfig_LOOP_LEFT</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BitConfig_LOOP_RIGHT</string>
			<key>Key</key>
			<string>BitConfig_LOOP_RIGHT</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
