<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>MK Host</string>
	<key>StringsTable</key>
	<string>MKHost</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>HOST_NAME</string>
			<key>Key</key>
			<string>name</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>HOST_ADDRESS</string>
			<key>Key</key>
			<string>address</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>HOST_PORT</string>
			<key>Key</key>
			<string>port</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>HOST_CONNECTION</string>
			<key>Key</key>
			<string>connectionClass</string>
			<key>DefaultValue</key>
			<string>MKIpConnection</string>
			<key>Titles</key>
			<array>
				<string>Use TCP Connection</string>
				<string>Use Fake Connection</string>
				<string>Use QMK Connection</string>
			</array>
			<key>Values</key>
			<array>
				<string>MKIpConnection</string>
				<string>MKFakeConnection</string>
				<string>MKQmkIpConnection</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
