<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>HOST_CONNECTION_FOOTER</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>name</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>HOST_NAME</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>address</string>
			<key>Title</key>
			<string>HOST_ADDRESS</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>pin</string>
			<key>Title</key>
			<string>HOST_PIN</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>MKIpConnection</string>
			<key>Key</key>
			<string>connectionClass</string>
			<key>Title</key>
			<string>HOST_CONNECTION</string>
			<key>Titles</key>
			<array>
				<string>HOST_CONNECTION_TCP</string>
				<string>HOST_CONNECTION_FAKE</string>
				<string>HOST_CONNECTION_SERIAL</string>
				<string>HOST_CONNECTION_BLUETOOTH</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>MKIpConnection</string>
				<string>MKFakeConnection</string>
				<string>MKSerialConnection</string>
				<string>MKBluetoothConnection</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
    <dict>
			<key>Key</key>
			<string>BTInquiryAction</string>
			<key>Title</key>
			<string>HOST_CONNECTION_BTSEARCH</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>MK Host</string>
</dict>
</plist>
