<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>NaviControlTITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GlobalConfig_GPS_AKTIV</string>
			<key>Key</key>
			<string>GlobalConfig_GPS_AKTIV</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsModeControl</string>
			<key>Key</key>
			<string>NaviGpsModeControl</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsGain</string>
			<key>Key</key>
			<string>NaviGpsGain</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviStickThreshold</string>
			<key>Key</key>
			<string>NaviStickThreshold</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsMinSat</string>
			<key>Key</key>
			<string>NaviGpsMinSat</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsP</string>
			<key>Key</key>
			<string>NaviGpsP</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsPLimit</string>
			<key>Key</key>
			<string>NaviGpsPLimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsI</string>
			<key>Key</key>
			<string>NaviGpsI</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsILimit</string>
			<key>Key</key>
			<string>NaviGpsILimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsD</string>
			<key>Key</key>
			<string>NaviGpsD</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsDLimit</string>
			<key>Key</key>
			<string>NaviGpsDLimit</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviGpsACC</string>
			<key>Key</key>
			<string>NaviGpsACC</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviWindCorrection</string>
			<key>Key</key>
			<string>NaviWindCorrection</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviSpeedCompensation</string>
			<key>Key</key>
			<string>NaviSpeedCompensation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviOperatingRadius</string>
			<key>Key</key>
			<string>NaviOperatingRadius</string>
			<key>DefaultValue</key>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviAngleLimitation</string>
			<key>Key</key>
			<string>NaviAngleLimitation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NaviPH_LoginTime</string>
			<key>Key</key>
			<string>NaviPH_LoginTime</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
