<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>AltitudeTITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GlobalConfig_HOEHENREGELUNG</string>
			<key>Key</key>
			<string>GlobalConfig_HOEHENREGELUNG</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ExtraConfig_HEIGHT_LIMIT</string>
			<key>Key</key>
			<string>ExtraConfig_HEIGHT_LIMIT</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>ExtraConfig_HEIGHT_LIMIT_0</string>
				<string>ExtraConfig_HEIGHT_LIMIT_1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GlobalConfig_HOEHEN_SCHALTER</string>
			<key>Key</key>
			<string>GlobalConfig_HOEHEN_SCHALTER</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ExtraConfig_VARIO_BEEP</string>
			<key>Key</key>
			<string>ExtraConfig_VARIO_BEEP</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>MaxHoehe</string>
			<key>Key</key>
			<string>MaxHoehe</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_MinGas</string>
			<key>Key</key>
			<string>Hoehe_MinGas</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_HoverBand</string>
			<key>Key</key>
			<string>Hoehe_HoverBand</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_P</string>
			<key>Key</key>
			<string>Hoehe_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_GPS_Z</string>
			<key>Key</key>
			<string>Hoehe_GPS_Z</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Luftdruck_D</string>
			<key>Key</key>
			<string>Luftdruck_D</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_ACC_Wirkung</string>
			<key>Key</key>
			<string>Hoehe_ACC_Wirkung</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>Hoehe_StickNeutralPoint_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_Verstaerkung</string>
			<key>Key</key>
			<string>Hoehe_Verstaerkung</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MaxAltitude</string>
			<key>Key</key>
			<string>MaxAltitude</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hoehe_StickNeutralPoint</string>
			<key>Key</key>
			<string>Hoehe_StickNeutralPoint</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
