<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Title</key>
        <string>CameraTITLE</string>
        <key>StringsTable</key>
        <string>Root</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>CameraNickTITLE</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoNickControl</string>
                <key>Key</key>
                <string>ServoNickControl</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoNickComp</string>
                <key>Key</key>
                <string>ServoNickComp</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>ServoCompInvert_NICK</string>
                <key>Key</key>
                <string>ServoCompInvert_NICK</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoNickMin</string>
                <key>Key</key>
                <string>ServoNickMin</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoNickMax</string>
                <key>Key</key>
                <string>ServoNickMax</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>CameraRollTITLE</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoRollControl</string>
                <key>Key</key>
                <string>ServoRollControl</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoRollComp</string>
                <key>Key</key>
                <string>ServoRollComp</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>ServoCompInvert_ROLL</string>
                <key>Key</key>
                <string>ServoCompInvert_ROLL</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoRollMin</string>
                <key>Key</key>
                <string>ServoRollMin</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoRollMax</string>
                <key>Key</key>
                <string>ServoRollMax</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoNickRefresh</string>
                <key>Key</key>
                <string>ServoNickRefresh</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>ServoManualControlSpeed</string>
                <key>Key</key>
                <string>ServoManualControlSpeed</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>Servo3</string>
                <key>Key</key>
                <string>Servo3</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>Servo4</string>
                <key>Key</key>
                <string>Servo4</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>Servo5</string>
                <key>Key</key>
                <string>Servo5</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
        </array>
    </dict>
</plist>
