<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Channels</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Receiver</string>
			<key>Key</key>
			<string>Receiver</string>
			<key>Titles</key>
			<array>
				<string>Multisignal(PPM)</string>
				<string>Spectrum</string>
				<string>Spectrum (HighRes)</string>
				<string>Spectrum (LowRes)</string>
				<string>Jeti Sattelite</string>
				<string>ACT DSL</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ExtraConfig_SENSITIVE_RC</string>
			<key>Key</key>
			<string>ExtraConfig_SENSITIVE_RC</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
        <dict>
            <key>IASKViewControllerClass</key>
            <string>ChannelsViewController</string>
            <key>IASKViewControllerSelector</key>
            <string>init</string>
            <key>Title</key>
            <string>ChannelsTest</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>MotorSafetySwitch</string>
            <key>Key</key>
            <string>MotorSafetySwitch</string>
            <key>Titles</key>
            <array>
                <string>RC_Channel_OFF</string>
                <string>RC_Channel_1</string>
                <string>RC_Channel_2</string>
                <string>RC_Channel_3</string>
                <string>RC_Channel_4</string>
                <string>RC_Channel_5</string>
                <string>RC_Channel_6</string>
                <string>RC_Channel_7</string>
                <string>RC_Channel_8</string>
                <string>RC_Channel_9</string>
                <string>RC_Channel_10</string>
                <string>RC_Channel_11</string>
                <string>RC_Channel_12</string>
            </array>
            <key>DefaultValue</key>
            <integer>0</integer>
            <key>Values</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
            </array>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_00</string>
			<key>Key</key>
			<string>Kanalbelegung_00</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_01</string>
			<key>Key</key>
			<string>Kanalbelegung_01</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_02</string>
			<key>Key</key>
			<string>Kanalbelegung_02</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_03</string>
			<key>Key</key>
			<string>Kanalbelegung_03</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_04</string>
			<key>Key</key>
			<string>Kanalbelegung_04</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_05</string>
			<key>Key</key>
			<string>Kanalbelegung_05</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_06</string>
			<key>Key</key>
			<string>Kanalbelegung_06</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_07</string>
			<key>Key</key>
			<string>Kanalbelegung_07</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_08</string>
			<key>Key</key>
			<string>Kanalbelegung_08</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_09</string>
			<key>Key</key>
			<string>Kanalbelegung_09</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_10</string>
			<key>Key</key>
			<string>Kanalbelegung_10</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kanalbelegung_11</string>
			<key>Key</key>
			<string>Kanalbelegung_11</string>
			<key>Titles</key>
			<array>
				<string>RC_Channel_1</string>
				<string>RC_Channel_2</string>
				<string>RC_Channel_3</string>
				<string>RC_Channel_4</string>
				<string>RC_Channel_5</string>
				<string>RC_Channel_6</string>
				<string>RC_Channel_7</string>
				<string>RC_Channel_8</string>
				<string>RC_Channel_9</string>
				<string>RC_Channel_10</string>
				<string>RC_Channel_11</string>
				<string>RC_Channel_12</string>
				<string>Serial_Channel_1</string>
				<string>Serial_Channel_2</string>
				<string>Serial_Channel_3</string>
				<string>Serial_Channel_4</string>
				<string>Serial_Channel_5</string>
				<string>Serial_Channel_6</string>
				<string>Serial_Channel_7</string>
				<string>Serial_Channel_8</string>
				<string>Serial_Channel_9</string>
				<string>Serial_Channel_10</string>
				<string>Serial_Channel_11</string>
				<string>Serial_Channel_12</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
