<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>GyroTITLE</string>
	<key>StringsTable</key>
	<string>Altitude</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GyroTITLE</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gyro_P</string>
			<key>Key</key>
			<string>Gyro_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>    
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gyro_I</string>
			<key>Key</key>
			<string>Gyro_I</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>     		
    	<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gyro_D</string>
			<key>Key</key>
			<string>Gyro_D</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>YawTITLE</string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gyro_Gier_P</string>
			<key>Key</key>
			<string>Gyro_Gier_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>    
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gyro_Gier_P</string>
			<key>Key</key>
			<string>Gyro_Gier_P</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>    
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>DynamicStability</string>
			<key>Key</key>
			<string>DynamicStability</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict> 
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Driftcomp</string>
			<key>Key</key>
      		<string>Driftkomp</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>GlobalConfig_DREHRATEN_BEGRENZER</string>
            <key>Key</key>
            <string>GlobalConfig_DREHRATEN_BEGRENZER</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
    	<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GyroAccFaktor</string>
			<key>Key</key>
      		<string>GyroAccFaktor</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GyroAccAbgleich</string>
			<key>Key</key>
      		<string>GyroAccAbgleich</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IASKIsNumber</key>
			<true/>
		</dict>
 		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>I_Faktor</string>
			<key>Key</key>
			<string>I_Faktor</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict> 
	</array>
</dict>
</plist>
