<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>OutputTITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Output_1_HEADER</string>
			<key>FooterText</key>
			<string>Output_1_FOOTER</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>J16Bitmask</string>
			<key>Title</key>
			<string>OutputBitmask</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputMotorState</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_BLINK1</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputBitmaskActive</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_BLINK1</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>OutputTiming</string>
			<key>Key</key>
			<string>J16Timing</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>WARN_J16_Bitmask</string>
			<key>Title</key>
			<string>OutputWarnBitmask</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputWarnBitmaskActive</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_OFF_LED1</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Output_2_HEADER</string>
			<key>FooterText</key>
			<string>Output_2_FOOTER</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>J17Bitmask</string>
			<key>Title</key>
			<string>OutputBitmask</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputMotorState</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_BLINK2</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputBitmaskActive</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_BLINK2</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
		<dict>
			<key>Type</key>
			<string>IASKPotiTextFieldSpecifier</string>
			<key>Title</key>
			<string>OutputTiming</string>
			<key>Key</key>
			<string>J17Timing</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>WARN_J17_Bitmask</string>
			<key>Title</key>
			<string>OutputWarnBitmask</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>OutputWarnBitmaskActive</string>
            <key>Key</key>
            <string>BitConfig_MOTOR_OFF_LED2</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
	</array>
</dict>
</plist>
