<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Setting</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Channels</string>
			<key>File</key>
			<string>Channels</string>
			<key>Key</key>
			<string>PaneChannels</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Compass</string>
			<key>File</key>
			<string>Compass</string>
			<key>Key</key>
			<string>PaneCompass</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>NaviControl</string>
			<key>File</key>
			<string>NaviControl</string>
			<key>Key</key>
			<string>PaneNaviControl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Stick</string>
			<key>File</key>
			<string>Stick</string>
			<key>Key</key>
			<string>PaneStick</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Altitude</string>
			<key>File</key>
			<string>Altitude</string>
			<key>Key</key>
			<string>PaneAltitude</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Camera</string>
			<key>File</key>
			<string>Camera</string>
			<key>Key</key>
			<string>PaneCamera</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Gyro</string>
			<key>File</key>
			<string>Gyro</string>
			<key>Key</key>
			<string>PaneGyro</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Coupling</string>
			<key>File</key>
			<string>Coupling</string>
			<key>Key</key>
			<string>PaneCoupling</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Looping</string>
			<key>File</key>
			<string>Looping</string>
			<key>Key</key>
			<string>PaneLooping</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Outputs</string>
			<key>File</key>
			<string>Output</string>
			<key>Key</key>
			<string>PaneOutput</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Misc</string>
			<key>File</key>
			<string>Misc</string>
			<key>Key</key>
			<string>PaneMiscs</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>User</string>
			<key>File</key>
			<string>User</string>
			<key>Key</key>
			<string>PaneUser</string>
		</dict>
	</array>
</dict>
</plist>
