<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Title</key>
        <string>StickTITLE</string>
        <key>StringsTable</key>
        <string>Root</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Stick_P</string>
                <key>Key</key>
                <string>Stick_P</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Stick_D</string>
                <key>Key</key>
                <string>Stick_D</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
                <key>IASKIsNumber</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>StickGier_P</string>
                <key>Key</key>
                <string>StickGier_P</string>
                <key>DefaultValue</key>
                <integer>4</integer>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>ExternalControl</string>
                <key>Key</key>
                <string>ExternalControl</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
        </array>
    </dict>
</plist>
