<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Title</key>
        <string>UserTITLE</string>
        <key>StringsTable</key>
        <string>Root</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>IASKPotiTextFieldSpecifier</string>
                <key>Title</key>
                <string>UserParam1</string>
                <key>Key</key>
                <string>UserParam1</string>
                <key>DefaultValue</key>
                <integer>0</integer>
            </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam2</string>
            <key>Key</key>
            <string>UserParam2</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam3</string>
            <key>Key</key>
            <string>UserParam3</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam4</string>
            <key>Key</key>
            <string>UserParam4</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam5</string>
            <key>Key</key>
            <string>UserParam5</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam6</string>
            <key>Key</key>
            <string>UserParam6</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam7</string>
            <key>Key</key>
            <string>UserParam7</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>Type</key>
            <string>IASKPotiTextFieldSpecifier</string>
            <key>Title</key>
            <string>UserParam8</string>
            <key>Key</key>
            <string>UserParam8</string>
            <key>DefaultValue</key>
            <integer>0</integer>
          </dict>
        </array>
    </dict>
</plist>
